@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@import './_mixins';
@import './_variables';

html, body {
  background-color: $primary;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 83.33%;
}

@import './components/top-bar';

.main {
  margin-bottom: $footer-height;
  .container {
    background-color: $white;
    border-radius: $radius;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.45);
  }
  h1, h2 {
    padding: 20px;
  }
  @import './components/featured-book';
  @import './components/top-voted';
}
@import './components/footer';
